<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>

    <add key="enableTrading"
         value="false" />
    <add key="mtgoxAPIKey" 
         value="" />
    <add key="mtgoxAPISecret"
         value="" />
    
    <add key="enableRDS"
         value="false" />
    <add key="connectionStringRDS"
         value=""/>
    
    <add key="connectionStringLocal"
         value=""/>
    
    <add key="enableTwitter"
         value="false" />
    <add key="twitterConsumerKey" 
         value="" />
    <add key="twitterConsumerSecret"
         value="" />
    <add key="twitterOAuthToken"
         value="" />
    <add key="twitterAccessToken"
         value="" />

    <add key="enableEmailing"
         value="true" />
    <add key="mandrilKey"
         value="" />
    
    
  </appSettings>
</configuration>