@{
    ViewBag.Title = "Score Card View";
}

<h2>Score Card View</h2>
<div class="row-fluid">
    <div class="span2">

    </div>
    <div class="span1">
        Min
    </div>
    <div class="span1">
        Hour
    </div>
    <div class="span1">
        2-Hour
    </div>
    <div class="span1">
        Day
    </div>
    <div class="span1">
        2-Day
    </div>
    <div class="span1">
        Week
    </div>
</div>
<div class="row-fluid">
    <div class="span2">
        <b>Total Net Profit</b>
    </div>
    <div class="span1">
        Min
    </div>
    <div class="span1">
        Hour
    </div>
    <div class="span1">
        2-Hour
    </div>
    <div class="span1">
        Day
    </div>
    <div class="span1">
        2-Day
    </div>
    <div class="span1">
        Week
    </div>
</div>